{{- if .Site.OCI.Domain}}
apiVersion: v1
kind: Namespace
metadata:
  name: guardian-oci
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: oci-placeholder
  namespace: guardian-oci
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oci-placeholder
  template:
    metadata:
      labels:
        app: oci-placeholder
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      terminationGracePeriodSeconds: 30
      containers:
        - name: oci-placeholder
          image: {{.Image}}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          env:
            - name: LISTEN_HTTP
              value: ":8080"
          ports:
            - name: http
              containerPort: 8080
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 2
            periodSeconds: 5
          resources:
            requests:
              cpu: 20m
              memory: 32Mi
            limits:
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: oci-placeholder
  namespace: guardian-oci
spec:
  selector:
    app: oci-placeholder
  ports:
    - name: http
      port: 80
      targetPort: http
{{- end}}
